p{
    margin: 0;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: roboto,arial;
    /* padding-bottom: 3000px; */
}
.header{
    padding-left: 500px;
}
main{
    padding-left: 500px;
}
.respon{
    display: none;
}
@media (max-width: 768px){
    .sidebar{
        width: 300px;
    }
    .header{
        padding-left: 300px;
    }
    main{
        padding-left: 300px;
    }
}
@media (max-width: 640px){
    .sidebar{
        width: 100px;
    }
    .sidebar-container p{
        display: none;
    }
    .sidebar-container{
        margin: 0;
        width: 75px;
    }
    .sidebar-myprofile{
        display: none;
    }
    .sidebar-btn{
        display: none;
    }
    .sidebar-home,
    .sidebar-explore,
    .sidebar-notification,
    .sidebar-message,
    .sidebar-list,
    .sidebar-bookmark,
    .sidebar-communities,
    .sidebar-profile,
    .sidebar-more{
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    justify-content: center;
    }
    main,
    .header{
        padding-left: 100px;
    }
}
@media (max-width: 380px){

    .profile{
        display: none;
    }
    .home{
        display: none;
    }
    .respon{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }
    .respon-profile{
        height: 40px;
        width: 40px;
        object-fit: cover; 
        border-radius: 50%;
        margin-left: 10px;
    }
    .respon-x{
        width: 30px;
        margin-left: 110px;
    }
    .header{
        padding: 0;

    }
    .total{
        width: 350px;
    }
    main{
        padding: 0;
        margin-top: 120px;
        padding-bottom: 49px;
    }
    .channel-name{
        font-size: 10px;
    }
    .gmail{
        color: rgb(96,96,96);
        font-size: 14px;
        padding-left: 10px;
    }
    .dot{
        padding: 0;
        margin-right: 10px;
    }
    .left-side{
        margin-right: 0;
    }
    .left-side img{
        width: 20px;

    }
    .share{
        margin-right: 10px;
    }
}
@media (max-width: 380px){
    .sidebar{
        border-top: 1px solid rgb(205,205,205);
        background-color: white;
        right: 0;
        left: 0;
        top: 850px;
        bottom: 0;
    }
    .sidebar{
        display: flex;
        align-items: start;
        
    }
    .sidebar-myprofile,
    .sidebar-list,
    .sidebar-bookmark,
    .sidebar-communities,
    .sidebar-profile,
    .logo,
    .sidebar-more,
    .sidebar-btn{
        display: none;
    }
    .sidebar-container{
        display: flex;
        flex-direction: row;
    }
    .sidebar-container p{
        display: none;
    }
    .sidebar-home,
    .sidebar-explore,
    .sidebar-notification,
    .sidebar-message{
        width: 100px;
        height: 30px;
        
    }
    .sidebar-home:hover,
    .sidebar-explore:hover,
    .sidebar-notification:hover,
    .sidebar-message:hover{
        background-color: transparent;
        cursor: pointer;
    }
    .sidebar-home{
        margin-left: 15px;
    }
}
